

.main{
    padding: 1em;
}
.meme-container{
    width:100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.text-container{
    background: #ffffff;
    font-family: 'impact';
    color: #000000;
    font-weight: 900;
    font-size: 38px;
    padding: 10px;
    text-align: center;
}
.img-container{
    height: 50vh;
    max-height: 450px;
    background: #9a819b;
}
.download-btn{
    backdrop-filter: blur(21px) saturate(163%);
    -webkit-backdrop-filter: blur(21px) saturate(163%);
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: #971997;
}