*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}   
/****************** body ******************/
body{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color:#30343f ;
    color: white;
    height:100vh; /*Esto a ustedes se les ve mal, lo agrego porque quiero verlo de otro lugar*/
  /*esto es una prueba*/
}

h1{
    font-size: 2.2rem;
    font-weight: 800;
}
h1, h2{
    text-align: center;
    color:rgb(255, 255, 255);
}
h2{
    margin-bottom: 10%;
    font-size: 1.4rem;
    font-weight: 600;
}

section{
    background-color:#30343f;
    width: 100%;

  
}

/**********Header**********/
header{
    padding: 0.93em 0px 1.56em 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
    background-color: #191e2b;
}
.contenedor-btns{
    padding-top: 1em;
}
.btn-header{
    background-color: transparent;
    border: transparent;
    color: white;
    padding: 0.5em;
    margin-right: 0.5em;
}
.btn-header:hover{
    background-color: rgb(112, 110, 110);
    border-radius: 3px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: 0.2s;
}
.iconheader{
    margin-right:0.3em;
}
/**********Contenedor meme**********/
main {
    background-color:#30343f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    
  }

.memeseccion{
    background-color: rgb(53, 53, 53);
    
}

#imagenmeme{
    height: 300px;
    width: 420px;
    
}
.titulo{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 10px;
    letter-spacing: -1px;
}
@media(max-width:768px){
    .titulo{
        font-size: 26px;
    }
}

.textosuperior, .textoinferior{
    color: rgb(7, 6, 6);
    font-weight: 800;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
    padding: 21px 50px;
    display: flex;
    justify-content: center;
    position: static;
    white-space: nowrap;
}
@media (max-width:992px){
    /*body{
        height: 80vh; ntento de solucionar lo que se les ve mal
    }*/
    .textosuperior{
        font-size: 40px;
    }
    .textoinferior{
        font-size: 40px;
    }
}
@media(max-width:768px){
    .textosuperior{
        font-size: 35px;
    }
    .textoinferior{
        font-size: 35px;
    }
}
@media(max-width: 576px){
    .textosuperior{
        font-size: 29px;
    }
    .textoinferior{
        font-size: 29px;
    }
}

.botondescargar{
    margin-top: 1.5%;
    padding: 0.6em;
    color: white;
    background-color: green;
    border: hidden;
}
.botondescargar:hover{
    transition: 0.2s;
    background-color: rgba(0, 128, 0, 0.507);
}
.iconodescargar{
    padding-right: 0.5em;
}


/**********Aside**********/

.aside-imagen{
    
    padding: 2em 0px 1.56em 0px;
    display: flex;
    
    width: 260px;
    height:100vh;
    flex-direction: column;
    padding-left: 1%;
    background-color:#252935 ;
    font-size: 0.8rem;
    text-align: left;
}
@media (max-width:992px){
    .aside-imagen{
        display: none;
    }
}
h3{
    font-weight: 300;
    margin-bottom: 4%;
}
input{
    background-color:#393e49 ;
    border: hidden;
    color: white;
    border-radius:3px;
    margin-bottom: 6%;
}

input:hover{
    background-color: #4e5565;
}
input[type="text"]{ 
    padding: 0.9em;
    width: 90%;

}
.fondoimg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-bottom: 5%;
}
select{
    display: flex;
    align-self: center;
    background-color:#393e49;
    border-radius: 3px;
    background-color:#393e49 ;
    border: hidden;
    color: white;
    border-radius:3px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
}

.fondocolor > p{
    padding-left: 4px;
}
input[type="color"]{ 
    width: 30px;
    border: none;
    background-color: transparent;
}
.fondocolor{
    display: flex;
    background-color:#393e49;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    align-items: center;
    justify-content: space-between;
}
/***filtros***/


