*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}   

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 2.2rem;
    font-weight: 900;
    
}
h1, h2{
    
    text-align: center;
    text-shadow:2px 3px 0px #898999;
    letter-spacing: 2px;
    color:white;
}
h2{
    font-weight: 700;
}


/**********Header**********/
header{
    padding: 0.93em 0px 1.56em 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #383535;
}
.contenedor-btns{
    padding-top: 1em;
}


