.aside {
  padding: 30px 15px;
  overflow-y: scroll;
}
.subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.bold-label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 8%;
}
.label {
  font-size: 12px;
  margin: 10px 0;
}
.aside-container {
  margin-bottom: 17px;
}
.aside-container,
.filter-container {
  display: flex;
  flex-direction: column;
}
.color-value{
  width: 50%;
}
.blend-list,
.url-input {
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 36px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  
}
.check-flex{
  display: flex;
  align-items: center;
}
.check-flex label{
  margin-left: 1%;
}

.number-input{
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 36px;
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 1.2%;
}
.number-space{
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 36px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 1.2%;
}
.alienation-buttons{
  display: flex;
}
.contour-buttons{
  display: flex;
}
.font-scnd-section{
  display: flex;
  margin-bottom: 4%;
  flex-direction: row;
  justify-content: space-between;
}
.color-input-container {
  font-size: 13px;
  position: relative;
  overflow:hidden;
}
.color-input-container .span {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: var(--input-color);
}

input[type='color']{
  font-size: 5px;
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 36px;
  width: 50%;
  padding: 5px 50px;
  border-radius: 5px;
}

.span .circle {
  background-color: #000000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px 0;
}
.blend-list:focus,
.url-input:focus,
.color-input:focus + .span,
.color-input:focus,
.blendlist:hover,
.url-input:hover,
.color-input:hover + .span,
.color-input:hover 
{
  background-color: var(--input-focus-color);
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.wrapper div {
  width: 100%;
}
.color-input {
  background: none;
  outline: none;
  border: none;
}
.range {
  height: 6px;
  width: 100%;
  border-radius: 10px;
  background: var(--range-color);
  -webkit-appearance: none;
}
.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--text-color);
  border: 0;
  -webkit-appearance: none;
}
.range:focus {
  background: var(--range-focus-color);
  -webkit-appearance: none;
}
.refresh-btn{
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 36px;
  padding: 5px 10px;
  border-radius: 5px;
  align-self: flex-start;
  margin-top: 10px;
}
.close_button {
  display:flex;
  align-self: flex-end;
}
.close-aside {
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  .aside {
  }
}