.aside {
  padding: 1.87em 0.93em;
  overflow-y: auto;
  height: 100%;
}
.subtitle {
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 0.5em;
  margin-left: 0.1em;
}
.bold-label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.6em;
  margin-top: 0.75em;
}
.label {
  font-size: 0.75rem;
  margin-top: 0.75em;
  margin-bottom: 1em;
}
.aside-container {
  margin-bottom: 1.06em;
}
.aside-container,
.filter-container {
  display: flex;
  flex-direction: column;
}
.color-value{
  width: 50%;
}
.blend-list,
.url-input {
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 2.725em;
  width: 100%;
  padding: 0.31em 0.62em;
  border-radius: 0.36em;
  
}
.check-flex{
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0.25em;
}
.check-flex label{
  margin-left: 1%;
}
.number-input{
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 2.725em;
  width: 50%;
  padding: 0.31em 0.62em;
  border-radius: 0.36em;
  margin-top: 1.2%;
}
.number-space{
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 2.725em;
  width: 100%;
  padding: 0.31em 0.62em;
  border-radius: 0.36em;
  margin-top: 1.2%;
}
.alienation-buttons{
  display: flex;
}
.contour-buttons{
  display: flex;
}
.font-scnd-section{
  display: flex;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
  flex-direction: row;
  justify-content: space-between;
}
.color-input-container {
  font-size: 0.81rem;
  position: relative;
  overflow:hidden;
}
.color-input-container .span {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 2.725em;
  display: flex;
  align-items: center;
  border-radius: 0.36em;
  background: var(--input-color);
}

input[type='color']{
  font-size: 0.31em;
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 36px;
  width: 50%;
  padding: 5px 50px;
  border-radius: 1.4em;
}

.span .circle {
  background-color: var(--selected-color);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 0.64em 0;
}
.blend-list:focus,
.url-input:focus,
.color-input:focus + .span,
.color-input:focus,
.blendlist:hover,
.url-input:hover,
.color-input:hover + .span,
.color-input:hover 
{
  background-color: var(--input-focus-color);
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.wrapper div {
  width: 100%;
}
.color-input {
  background: none;
  outline: none;
  border: none;
}
.range {
  height: 0.37em;
  width: 100%;
  margin-bottom: 0.6em;
  border-radius: 0.63em;
  background: var(--range-color);
  -webkit-appearance: none;
}
.range::-webkit-slider-thumb {
  width: 0.94em;
  height: 0.94em;
  border-radius: 50%;
  background: var(--text-color);
  border: 0;
  -webkit-appearance: none;
}
.range:focus {
  background: var(--range-focus-color);
  -webkit-appearance: none;
}
.refresh-btn{
  background-color: var(--input-color);
  outline: none;
  border: none;
  color: var(--text-color);
  height: 2.725em;
  padding: 0.31em 0.62em;
  border-radius: 0.31em;
  align-self: flex-start;
  margin-top: 0.63em;
}

@media screen and (max-width: 992px) {
  .aside {
    display: none;
  }
}
