.title{
    font-size: 36px;
    margin: 10px;
    color: var(--text-color);
}
.nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.header-btn:focus, .header-btn:hover{
    background: var(--input-focus-color);
}
.btn-icon{
    font-size: 14px;
    margin-right: 0.35em;
}