@font-face {
    font-family: 'impact';
    src: url('../fonts/unicode.impact-webfont.woff2') format('woff2'),
         url('../fonts/unicode.impact-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main{
    padding: 1em;
}
.meme-container{
    width:100%;
    max-width: 32em;
    height: 29.3em;
    max-height: 32em;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.94em;
}
.meme-img{
    width:100%;
    height: 100%;
    max-width: 32em;
    max-height: 32em;
    background-repeat: no-repeat;
    background-position: center;
    background-position: cover;
    background-size: cover;
    overflow: hidden;
}

.text-container{
    background: #ffffff;
    font-family: 'impact';
    font-stretch: expanded;
    color: #000000;
    font-weight: 600;
    font-size: 2.37rem;
    padding: 0.25em;
    text-align: center;
}
.img-container{
    height: 100%;
    max-height: 32em;
    background: var(--selected-color);
}

.download-btn {
    outline: 0;
    outline: none;
    border: transparent;
    border-radius: 0.36em;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s;
    position: relative;
}
.download-btn:hover {
    transform: translateY(-0.18em);
    box-shadow: 0 0.32em 0.63em rgba(0, 0, 0, 0.383);
}
.download-btn:active {
    transform: translateY(-0.06em);
    box-shadow: 0 0.16em 0.32em rgba(0, 0, 0, 0.342), 0.2;
}
.download-btn {
    background-color: var(--input-color);
}
.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0.36em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn-white::after {
    background-color: rgb(109, 81, 144);
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: movimientoBoton 4s ease-out;
    animation-fill-mode: backwards;
}
@keyframes movimientoBoton {
    0% {
        opacity: 0;
        transform: translateY(1.88em);
   }
    100% {
        opacity: 2;
        transform: translateY(0);
   }
}
.oculto {
    display: none;
  }
