.main{
    padding: 1em;
}
.meme-container{
    width:100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.text-container{
    background: #ffffff;
    font-family: 'impact';
    color: #000000;
    font-weight: 900;
    font-size: 38px;
    padding: 10px;
    text-align: center;
}
.img-container{
    height: 50vh;
    max-height: 450px;
    background: var(--selected-color);
}