@font-face {
    font-family: 'impact';
    src: url('../fonts/unicode.impact-webfont.woff2') format('woff2'),
         url('../fonts/unicode.impact-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main{
    padding: 1em;
}
.meme-container{
    width:100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.text-container{
    background: #ffffff;
    font-family: 'impact';
    color: #000000;
    font-weight: 600;
    font-size: 38px;
    padding: 10px;
    text-align: center;
}
.img-container{
    height: 50vh;
    max-height: 450px;
    background: var(--selected-color);
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}
.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #fff;
    color: #777;
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn-white::after {
    background-color: #fff;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
   }
    100% {
        opacity: 1;
        transform: translateY(0px);
   }
}